<br><br>
<div class="container meals-background">
    <div class = "col span1-of-4 box">
        <figure class="tape-photo">
            <img src="/assets/img/menu2.jpg" alt="meal photo">
        </figure>
        <div class="photo-caption">
            <p class>Chicken over Farro Salad</p>
        </div>
        <div class="mybtn-order">
            <%= link_to "Order", mealselect_path, class: "mybtn mybtn-full mybtn-large" %>
        </div>
    </div>
    <div class="col span-1-of-4">
    </div>
    <div class="col span-2-of-4">
        <div class="meals-details">
            <b><p>Price: $9.99</p></b>
            <p>Time: 25mins</p>
            <p>Nutrition: 690 calories</p>
            <p>Servings: 2</p>
            <p>Cooked alongside nutty farro, saffron—a prized spice originally from North Africa—lends a subtle, aromatic lift to spiced chicken served on top. We’re adding roasted carrots and dates to the farro, which lends balance to the chicken’s bold, Spanish-inspired spices, including paprika, coriander, and cinnamon.</p>
        </div>
        <br>
        <div class="ingredients">
            <h3><b>Ingredients</b></h3>
            <p>2 Boneless, Skinless Chicken Thighs </p>
            <p>½ cup Semi-Pearled Farro</p>
            <p>1 Persian Cucumber</p>
            <p>4oz Grape or Cherry Tomato</p>
            <p>2 cloves Garlic</p> 
            <p>2 Scallions</p>
            <p>2 Dried Turkish Figs</p>
            <p>1/2 cup Plain Greek Yoghurt</p>
            <p>1 Tbsp  Ras El Hanout</p>
            <p>1 Tbsp White Wine Vinegar</p>
        </div>
        <br>
        <div class="instructions">
            <h3><b>Instructions</b></h3>
            <ol>
               <li>If you’re grilling, preheat your grill to maintain a temperature of 450-500°F. Oil the grill grates. Heat a medium pot of salted water to boiling on high. Once boiling, add the farro and cook, uncovered, 18 to 20 minutes, or until tender. Turn off the heat. Drain thoroughly and return to the pot. Cover to keep warm.</li>
               <br>
               <li>While the farro cooks, wash and dry the fresh produce. Small dice the cucumber. If necessary, peel 1 clove of garlic (you may have extra). Roughly chop the garlic; using the flat side of your knife, smash until it resembles a paste (or use a zester). Halve the tomatoes; place in a bowl. Drizzle with olive oil and season with salt and pepper. Stir to coat. Roughly chop the figs. Cut off and discard the root ends of the scallions; thinly slice, separating the white bottoms and green tops. In a bowl, combine the chopped figs, sliced white bottoms of the scallions, and vinegar. </li>
               <br>
               <li>While the farro continues to cook, in a bowl, combine the yogurt, diced cucumber, a drizzle of olive oil, and as much of the garlic paste as you’d like. Season with salt and pepper.</li>
               <br>
               <li>STOVE: Pat the chicken dry with paper towels. Season on both sides with salt, pepper, and enough of the ras el hanout to coat (you may have extra). In a medium pan, heat 2 teaspoons of olive oil on medium-high until hot. Add the seasoned chicken and cook 6 to 7 minutes per side, or until browned and cooked through. Transfer to a plate and loosely cover with aluminum foil to keep warm.
                GRILL: Pat the chicken dry with paper towels. Season on both sides with salt, pepper, and enough of the ras el hanout to coat (you may have extra). Drizzle with olive oil. Grill the seasoned chicken 5 to 6 minutes per side, or until browned and cooked through. Transfer to a plate and loosely cover with aluminum foil to keep warm.</li>
                <br>
                <li>To the pot of cooked farro, add the seasoned tomatoes, rehydrated figs (including any liquid from the bowl), and a drizzle of olive oil. Stir to combine; season with salt and pepper to taste. Serve the cooked chicken over the finished farro salad. Garnish with the sliced green tops of the scallions. Serve with the cucumber-yogurt sauce on the side. Enjoy!
                </li>
            </ol>
        </div>
    </div>
</div>