   <div class="hero-text-box">
        <h1>Goodbye food stress. <br> Hello quick &amp; delicious meals.</h1>

        <%= link_to "Sign Up", signup_path, class: "mybtn mybtn-full mybtn-large" %>
        <%= link_to "Meals", menus_path, class: "mybtn mybtn-ghost mybtn-large" %>
    </div>    
</header>

<section class="section-features">
    <div class="container">
        <h2>Get food fast &mdash; not fast food</h2>
        <p class="long-copy">
            Welcome to Foodie.ie, your new premium food delivery service. We know you're always busy. No time for cooking. So let us take care of that. We're really good at it. We promise!
        </p>
    </div>
    <div class="container">
        <div class="col span-1-of-4 box features-box">
            <i></i>
            <h3>Up to 365 days/year</h3>
            <p>Our incredible selection of meals ensures you can choose a different meal every day of the year and still not get through our full menu!</p>
        </div>

        <div class="col span-1-of-4 box features-box">
            <i ></i>
            <h3>Ready in 30 minutes</h3>
            <p>You're only ever thirty minutes away from a delicious and super healthy meal sitting on your table. </p>
        </div>

        <div class="col span-1-of-4 box features-box">
            <i ></i>
            <h3>100% organic</h3>
            <p>All our vegetables are fresh, organic, and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it tastes better!</p>
        </div>

        <div class="col span-1-of-4 box features-box">
            <i ></i>
            <h3>Order anything</h3>
            <p>We don't limit your creativity, which means that once you've signed up, you can order as many or as few meals as you wish. It's entirely up to you!</p>
        </div>
    </div>
</section>

<section class="section-meals"> 
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="/assets/img/1.jpg" alt="Korean egg and veg">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/assets/img/2.jpg" alt="chicken breast">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/assets/img/3.jpg" alt="simple pizza">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/assets/img/4.jpg" alt="pumpkin soup">
            </figure>
        </li>

    </ul>

    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="/assets/img/5.jpg" alt="beef">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/assets/img/6.jpg" alt="baguette">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/assets/img/7.jpg" alt="burger">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="/assets/img/8.jpg" alt="granola">
            </figure>
        </li>
    </ul>
</section>

<section  class="section-form" id="contact">
    <div >
        <h2>Get in touch</h2>
    </div>

    <div >
        <form method="post" action="#" class="contact-form">
            <div class="container">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>

            <div class="container">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="name@abc.com" required>
                </div>
            </div>

            <div class="container">
                <div class="col span-1-of-3">
                    <label for="find-us">How did you find us?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find-us" id="find-us">
                        <option value="friends">friends</option>
                        <option value="search" selected>search engine</option>
                        <option value="ad">advertisemnt</option>
                        <option value="other-way">some other way</option>   
                    </select>
                </div>
            </div>

            <div class="container">
                <div class="col span-1-of-3">
                  <label>Newsletter</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" name="newsletter" id="news" checked> Yes please
                </div>
            </div>

            <div class="container">
                <div class="col span-1-of-3">
                    <label>Drop us a line</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" placeholder="Your message" > </textarea>
                </div>
            </div>

            <div class="container">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Send">
                </div>
            </div> 
        </form>
    </div>
</section>

<section class="section-testimonials">
    <div class="container">

        <h2>What our customers say...</h2>
    </div>

    <div class="container">
        <div class="col span-1-of-3">
           <blockquote>Foodie.ie is just brilliant! I just started a new business startup which leaves me with no time for cooking, so Foodie.ie is a life saver. Now that I have gotten used to it, I couldn't live without my daily meals!
            <cite><img src="/assets/img/customer-1.jpg">Phil Duncan</cite>
            </blockquote> 
        </div>

        <div class="col span-1-of-3">
           <blockquote>Inexpensive, healthy, and great tasting ingredients delivered right to my home. Simple to follow instructions. My family and me are so in love with your service. Keep up the great work!
            <cite><img src="/assets/img/customer-2.jpg">Jill Murphy</cite>
            </blockquote> 
        </div>

        <div class="col span-1-of-3">
           <blockquote>I was tired of eating the same old bland meals every evening. I decided to give Foodie.ie a try and haven't looked back. I actually look forward to coming home in the evenings and cooking now!
            <cite><img src="/assets/img/customer-3.jpg">Mark Kelly</cite>
            </blockquote> 
        </div>
    </div>
</section>



