<br><br>
<div class="container meals-background">
    <div class = "col span1-of-4 box">
        <figure class="tape-photo">
            <img src="/assets/img/menu8.jpg" alt="meal photo">
        </figure>
        <div class="photo-caption">
            <p class>Jalapeno Burgers</p> 
        </div>
        <div class="mybtn-order">
            <%= link_to "Order", mealselect_path, class: "mybtn mybtn-full mybtn-large" %>
        </div>
    </div>
    <div class="col span-1-of-4">
    </div>
    <div class="col span-2-of-4">
        <div class="meals-details">
            <b><p>Price: $9.99</p></b>
            <p>Time: 25mins</p>
            <p>Nutrition: 750 calories</p>
            <p>Servings: 2</p>
            <p>We’re taking the classic cheeseburger to new heights by topping it with an unexpected combination of creamy, tangy goat cheese and spicy-sweet marinated jalapeño. For a flavorful side, we’re roasting carrots with a blend of bold, smoky spices like paprika, ground mustard, and more.</p>
        </div>
        <br>
        <div class="ingredients">
            <h3><b>Ingredients</b></h3>
            <p>10 oz Thinly Sliced Beef</p>
            <p>½ cup Yellow Couscous</p>
            <p>2 cloves Garlic</p>
            <p>1 bunch Kale</p>
            <p>Tbsps Crème Fraîche</p> 
            <p>2 Tbsps Tahini</p>
            <p>1 Tbsp Red Wine Vinegar</p>
            <p>1½ Tbsps  Golden Raisins</p>
            <p>1 Tbsp  Dukkah Seasoning (Za'atar, Ground Coriander, Ground Fennel Seeds, Ground Cumin, &amp; Black Sesame Seeds)</p>
        </div>
        <br>
        <div class="instructions">
            <h3><b>Instructions</b></h3>
            <ol>
               <li>In a small saucepan, combine the couscous, raisins, and 3/4 cup of water; season with salt and pepper. Heat to boiling on high. Once boiling, turn off the heat. Cover and let stand 6 to 8 minutes, or until the water has been absorbed and the couscous is tender. Fluff with a fork. Drizzle with olive oil and season with salt and pepper; stir to combine. Cover to keep warm. </li>
               <br>
               <li>While the couscous cooks, wash and dry the kale. Separate the kale leaves from the stems; discard the stems, then roughly chop the leaves. Peel and roughly chop 2 cloves of garlic. </li> 
               <br>
               <li>While the couscous continues to cook, in a large pan (nonstick, if you have one), heat a drizzle of olive oil on medium-high until hot. Add the chopped kale and half the chopped garlic; season with salt and pepper. Cook, stirring occasionally, 3 to 4 minutes, or until slightly wilted. Add 1/4 cup of water (carefully, as the liquid may splatter). Cook, stirring frequently, 2 to 3 minutes, or until the kale is wilted and the water has cooked off. Transfer to a bowl. Taste, then season with salt and pepper if desired. Cover with foil to keep warm. Wipe out the pan.  </li>
               <br>
               <li>Pat the beef dry with paper towels. Season with salt and pepper. In the same pan, heat a drizzle of olive oil on medium-high until hot. Add the seasoned beef in an even layer. Cook, without stirring, 1 to 2 minutes, or until lightly browned. Add half the dukkah (you will have extra) and the remaining chopped garlic. Cook, stirring frequently, 1 to 2 minutes, or until the beef is just cooked through. Turn off the heat. Stir in the crème fraîche. Taste, then season with salt and pepper if desired.</li>
               <br>
               <li>While the beef cooks, in a bowl, whisk together the tahini, vinegar, and 1 tablespoon of olive oil. Slowly whisk in up to 2 tablespoons of water to thin to your desired consistency. Taste, then season with salt and pepper if desired. Serve the cooked beef with the cooked couscous and kale. Top with the dressing. Enjoy!</li>
            </ol>
        </div>
    </div>
</div>