   <br><br>
   <div class="container meals-background">
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/dukkah"><img src="/assets/img/menu1.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/dukkah"><p class>Dukkah-Spiced Beef &amp; Couscous</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/farro"><img src="/assets/img/menu2.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/farro"><p class>Chicken over Farro Salad</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/shrimp"><img src="/assets/img/menu3.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="shrimp"><p class>Crispy Shrimp and Chilanto Rice</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/pasta"><img src="/assets/img/menu4.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/pasta"><p class>Whole Grain Pasta</p> </a>
        </div>
    </div>
</div>

<div class="container meals-background">
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/noodle"><img src="/assets/img/menu5.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/noodle"><p class>Lo Mein Noodle Stir-Fry</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/lentils"><img src="/assets/img/menu6.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/lentils"><p class>Indian Style Stewed Lentils</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/schnitzel"><img src="/assets/img/menu7.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/schnitzel"><p class>Crispy Chicken Schnitzel</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/jalapeno"><img src="/assets/img/menu8.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/jalapeno"><p class>Jalapeno Burgers</p> </a>
        </div>
    </div>
</div>

<div class="container meals-background">
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/dukkah"><img src="/assets/img/menu1.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/dukkah"><p class>Dukkah-Spiced Beef &amp; Couscous</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/farro"><img src="/assets/img/menu2.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/farro"><p class>Chicken over Farro Salad</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/shrimp"><img src="/assets/img/menu3.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/shrimp"><p class>Crispy Shrimp and Chilanto Rice</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/pasta"><img src="/assets/img/menu4.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/pasta"><p class>Whole Grain Pasta</p> </a>
        </div>
    </div>
</div>

<div class="container meals-background">
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/noodle"><img src="/assets/img/menu5.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/noodle"><p class>Lo Mein Noodle Stir-Fry</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/lentils"><img src="/assets/img/menu6.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/lentils"><p class>Indian Style Stewed Lentils</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/schnitzel"><img src="/assets/img/menu7.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/schnitzel"><p class>Crispy Chicken Schnitzel</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="/jalapeno"><img src="/assets/img/menu8.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="/jalapeno"><p class>Jalapeno Burgers</p> </a>
        </div>
    </div>
</div>