<div class="row">
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu1.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Dukkah-Spiced Beef &amp; Couscous</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu2.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Chicken over Farro Salad</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu3.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Crispy Shrimp and Chilanto Rice</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu4.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Whole Grain Pasta</p> </a>
        </div>
    </div>
</div>
<div class="row">
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu5.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Lo Mein Noodle Stir-Fry</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu6.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Indian Style Stewed Lentils</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu7.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Crispy Chicken Schnitzel</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu8.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Jalapeno Burgers</p> </a>
        </div>
    </div>
</div>
<div class="row">
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu1.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Dukkah-Spiced Beef &amp; Couscous</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu2.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Chicken over Farro Salad</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu3.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Crispy Shrimp and Chilanto Rice</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu4.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Whole Grain Pasta</p> </a>
        </div>
    </div>
</div>
<div class="row">
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu5.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Lo Mein Noodle Stir-Fry</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu6.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Indian Style Stewed Lentils</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu7.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Crispy Chicken Schnitzel</p> </a>
        </div>
    </div>
    <div class = "col span-1-of-4 box">
        <figure class="tape-photo">
            <a href="#"><img src="/assets/img/menu8.jpg" alt="meal photo"> </a>
        </figure>
        <div class="photo-caption">
            <a href="#"><p class>Jalapeno Burgers</p> </a>
        </div>
    </div>
</div>